html {
	margin: 0;
	padding: 0;
    background-image:url(images/stipple-2.png);
    background-color: #eaeaea;

}

body {
    margin:0;
    padding:0;        
}

h1 {
    font-family: helvetica, arial, sans;
    font-size: 4.5em;
    width:100%;
    text-align:center;
    margin-right:auto;
    color:#d0d0d0;
    text-shadow: 1px 1px #c9c9c9;       
}

.todoContainer {
    display:block;
    width:70%;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    background-color:#fff;
    padding:0;
    border-top:15px solid #91817a;
    border-right:1px solid black;
    border-left:1px solid black;
    border-bottom:1px solid black;
    box-shadow: 8px 8px 25px #c9c9c9;
}

ul {
    display:block;
    list-style-type: &#10004;
    /*list-style-type:image;
    list-style-image:url(images/checkmark.png);*/
    width:98%;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    background-color:#FFF; 
    padding:0;
}

li {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1.5em;
    padding-left:10px;    
    border-bottom:1px dotted black;
    list-style-position:inside;
    padding-left:-45px;
    padding-top:15px;

    margin-left:30px;
    margin-top:0;
    height:45px;
    border-left:6px double red;

}